Repository Leonelmarianog/vue-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,mts,tsx,vue}": ["eslint --fix"],
  "*.{js,ts,mts,tsx,vue,json,md,html,css,scss}": ["prettier --write"]
}

Fix visual bug on rendered lists
  src/components/BoardContainer.vue
  src/components/PageLayout.vue
Due: eslint --fix, prettier --write

Register initial API level routes
  backend/bootstrap/app.php
  backend/routes/api.php
  backend/routes/api_v1.php
Due: none

Setup CI automatization for frontend
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

Update pre-push hook
  .husky/pre-push
Due: none

Attempt to fix line endings
  .husky/pre-push
Due: none

Setup initial CI pipeline
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .husky/pre-push
  package.json
Due: prettier --write

Setup testing environment for backend
  backend/.gitignore
  backend/Makefile
  backend/compose.test.yml
  package.json
Due: prettier --write

Encapsulate Pint command in Composer script
  backend/composer.json
  package.json
Due: prettier --write

Update backend readme
  backend/README.md
Due: prettier --write

Added script to check code style for backend with Pint
  .husky/pre-push
  package.json
Due: prettier --write

Update backend workflow
  .github/workflows/backend.yml
Due: none

Lint backend files
  backend/bootstrap/app.php
  backend/routes/api.php
Due: none

Add coverage to backend tests
  backend/Makefile
  package.json
Due: prettier --write

Update backend CI workflow to include coverage
  .github/workflows/backend.yml
Due: none

Update backend CI workflow to report coverage
  .github/workflows/backend.yml
  backend/Makefile
Due: none

Update README.md
  backend/README.md
Due: prettier --write

Attempt to fix CI workflow not reporting coverage
  .github/workflows/backend.yml
  backend/.gitignore
Due: none

Attempt to fix CI workflow not reporting coverage
  .github/workflows/backend.yml
Due: none

Attempt to fix CI backend workflow on push
  .github/workflows/backend.yml
Due: none

Update CI frontend workflow to lint and run tests with coverage
  .github/workflows/frontend.yml
  frontend/package.json
Due: prettier --write

Fix stale pre-push commands
  .husky/pre-push
  package.json
Due: prettier --write

Fix typo in pre-push hook
  .husky/pre-push
Due: none

Update frontend scripts for consistency
  .husky/pre-push
  frontend/package.json
  package.json
Due: prettier --write

Update CI frontend workflow to reflect script changes
  .github/workflows/frontend.yml
Due: none

Fix pre-push command missing a flag
  .husky/pre-push
Due: none

Update formatting scripts
  .github/workflows/backend.yml
  .husky/pre-push
  backend/README.md
  backend/composer.json
  package.json
Due: prettier --write

Update CI backend workflow for better consistency
  .github/workflows/backend.yml
  package.json
Due: prettier --write

Update pre-push hook to reflect recent script change
  .husky/pre-push
Due: none

Fix backend script inconsistency
  package.json
Due: prettier --write

Update CI backend workflow step to specify correct PHP version
  .github/workflows/backend.yml
Due: none

Setup phpstan for code analysis
  .github/workflows/backend.yml
  .husky/pre-push
  backend/composer.json
  backend/composer.lock
  backend/phpstan.neon
  package.json
Due: prettier --write

Update frontend CI workflow to use project root level scripts
  .github/workflows/frontend.yml
  package.json
Due: prettier --write

Update frontend README.md
  frontend/README.md
Due: prettier --write

Fix typo in frontend coverage script
  package.json
Due: prettier --write

Update Pest coverage location
  .github/workflows/backend.yml
  backend/.gitignore
  backend/Makefile
Due: none

Update backend README.md
  backend/README.md
Due: prettier --write

Format backend.yml
  .github/workflows/backend.yml
Due: none
